.section-registration {
  min-height: 100vh;
  background-color: rgb(236, 239, 241);
  background-image: url(../images/background-image-login.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.logo {
  position: absolute;
  top: 32;
  left: 64;
}
.registration-box {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  margin-right: auto;
  padding: 70px 64px;
  min-width: 200px;
  width: 486px;
  background-color: white;
}

.registration-box__title {
  text-align: center;
  align-self: start;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.22;
  margin-bottom: 20px;
}

.registration-form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  min-width: 200px;
}

.input {
  background: #ffffff;
  height: 30px;
  border-radius: 12px;
  border: 1px solid rgb(117, 117, 117);
  width: 100%;
  min-height: 46px;

  &::placeholder {
    padding: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.35;
    color: #828282;
  }
  &:not(:first-child) {
    margin-top: 15px;
  }
}
.registration-form__name {
}

.registration-form__email {
}

.registration-form__password {
}

.registration-form__forgot-password {
  margin-top: 5px;
  border: none;
  background-color: transparent;
  text-align: right;
}

.registration-form__submit-btn,
.registration-form__login-btn {
  margin-top: 10px;
  width: 110px;
  height: 44px;
  display: inline-flex;
  padding: calc(11px) calc(15px);
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  cursor: pointer;
}

.registration-box__bottom {
  display: flex;
  margin-top: 10px;
}
.registration-box__not-registered {
}

.registration-box__link-registration {
  margin-left: auto;
}
